.car_item_title{
    font-size: 5rem;
}

.car_item_des{
    font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
    .car_item_title{
        font-size: 2rem;
    }
    .car_item_des{
        font-size: 1rem;
    }
}
